* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151515;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 6vh;
}

header, footer {
    background-color: #151515;
    width: 100%;
    position: relative;
}

header {
    height: 6vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

#hTxt {
    margin-top: 0;
    margin-left: 20vh;
    line-height: 6vh;
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align:center;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 3vh;
    margin: 0 15px;
    display: inline-block;
}

@media (max-width: 768px) {
    #hTxt {
        margin-left: 10px;
    }

    .nav {
        position: static;
        transform: none;
        width: auto;
        margin-top: 20px;
    }

    .nav a {
        font-size: 2.5vh;
    }
}

.info {
    margin-top: 60px;
    margin-left: 40px;
}

main p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: 40px;
}

.cat-container {
    position: relative;
    margin-top: 70px; /* Adjust the top margin to create space for the button */
}

.cat {
    width: 400px;
    margin: 0 auto;
    display: block;
    margin-bottom: 1000px;
    margin-top: 100px;
}

#randomCatBtn {
    position: absolute;
    top: 80px; /* Adjust this value to position the button above the image */
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1;
}

footer {
    height: 80px;
    background-color: #151515;
    position: relative; /* Set position to relative */
}

footer div {
    position: absolute;
    top: 50%; /* Position div at 50% from the top of the footer */
    left: 50%; /* Position div at 50% from the left of the footer */
    transform: translate(-50%, -50%); /* Center div both horizontally and vertically */
    color: white;
}